<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 clo-12 mx-auto">
                <div class="row">
                    <!-- rigth side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="err">
                            <img src="images/404.png" alt="dhruvik" class="img-fluid" title="dhruvik">
                        </figure>
            
                        <a href="/"> <button>Go back</button></a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>

</html>