<html lang="en">

<head>
   {{>header}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 clo-12 mx-auto">
                <div class="row">
                    <!-- rigth side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="dhruvik" class="img-fluid" title="dhruvik">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I am a <span class="text">Node.js Developer</span> </h1>
                        <a href="/weather"> <button>About me</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>

</html>