<!DOCTYPE html>
<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 clo-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityname" placeholder="enter Your city name">
                        <input type="submit" value="search" id="submitbutton">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Monday</p>
                        <p id="today_data">6 may</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span class="temp_re">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" arial-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="js/index.js"></script>
    <script>
        const getCurrentDay = () => {
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tue";
            weekday[3] = "Wed";
            weekday[4] = "Thursday"; 
            weekday[5] = "Friday"; 
            weekday[6] = "Saturday"; 
            let currentTime = new Date();
             let days = weekday[currentTime.getDay()];
        const day=document.getElementById('day')
          day.innertext=days
        }; 

       
        const getCurrentTime = () => {

                var months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec",]; 
                var now = new Date();
                var month = months[now.getMonth() + 1]; 
                var date = now.getDate(); 
                 var time1= `${month} ${date} `
        const time=document.getElementById('today_data')
                today_data.innertext=time1
            }; 
        getCurrentDay() + " | " + getCurrentTime(); 
    </script>
</body>

</html>